<div class = "container">
    <div class="row valign-wrapper contenedor">
        <div class="col s12 m6 registro">
            <form #f="ngForm" validate>
                <h4 class="center white-text">Crear Usuario</h4>
                <h6 class="white-text">Correo Electrónico:</h6>
                <input type="email" class="white" [(ngModel)]="usuario.id" name="id" required>
                <h6 class="white-text">Nombre</h6>
                <input type="text" class="white" [(ngModel)]="usuario.nombre" name="nombre" required>
                <h6 class="white-text">Rol</h6>
                <select name="rol" [(ngModel)]="usuario.rol"  class="browser-default white" required>
                    <option value="Cliente">Cliente</option>
                    <option value="Administrador">Administrador</option>
                </select>         
                <div></div>              
                <h6 class="white-text">Contraseña</h6>
                <input type="password" class="white" [(ngModel)]="usuario.password" name="password" required>
                <div class="botones">
                    <button class="btn waves-effect waves-light" (click) ="crearUsuario(f)">Registrar</button>
                    <button class="btn waves-effect waves-light" (click) ="volverLogin()">Volver a Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

