body
{
  background: url('./assets/fondo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;  
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: multiply;
}

.botones
{
  display: flex;
  flex-flow: row ;
  justify-content: space-evenly;
  margin-top: 20px;
}

.contenedor
{
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, select
{
    height: 30px !important;
    border-radius: 5px !important;
}

.forma
{
    margin: auto;
}

.brand-logo
{
  margin-left: 1%;
}

@media only screen and (max-width: 650px)
{
  .brand-logo
  {
    font-size: 1em;
  }
}

.nombre
{
  margin-right: 10px;
}